<form id="actorForm" class="form" [formGroup]="userForm" novalidate>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="General Data">
            <div class="form">
                <mat-form-field>
                    <input matInput type="text" id="email" class="form-control" placeholder="email" 
                        [formControl]="emailCtl">
                    <mat-error class="field-error" *ngIf="emailCtl.hasError('required')"> required </mat-error>
                    <mat-error class="field-error" *ngIf="emailCtl.hasError('usernameExist')"> User already exist </mat-error>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <input matInput type="text" id="email" class="form-control" placeholder="email" 
                        [formControl]="emailCtl">
                    <mat-error class="field-error" *ngIf="emailCtl.hasError('required')"> required </mat-error>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-slide-toggle color="primary" [formControl]="adminCtl">admin</mat-slide-toggle>
            </div>
        </mat-tab>
    </mat-tab-group>    
    <div class="footer">
        <button type="submit" form="actorForm" class="btn btn-primary mr-2" [disabled]="userForm.invalid"
        (click)="update()">save</button>
    </div>
</form>