<mat-dialog-content>


        <table>
            <thead>
              <tr>
                  <th>Screen_size</th>
                  <th>Processor</th>
                  <th>Capacity</th>
                  <th>Ram</th>
                  <th>Os_version</th>
                 
              </tr>
            </thead>
    
            <tbody>
               
                <td>{{detail.screen_size}}</td>
                <td>{{detail.processor}}</td>
                <td>{{detail.capacity}}</td>
                <td>{{detail.ram}}</td>
                <td>{{detail.os_version}}</td>
       
              
            </tbody>
        </table>

  
</mat-dialog-content>