<div class="container">
    <div class="col-sm-8 col-sm-offset2">
    <form (ngSubmit)="update()" [formGroup]="passwordForm">
        <mat-tab-group mat-stretch-tabs dynamicHeight>
            <mat-tab label="Change Password">
                <div class="pl-2">
                    <div class="form">
                        <mat-form-field>
                            <input matInput type="password" class="form-control" placeholder="password" [formControl]="passwordCtl">
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('required')"> require </mat-error>
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('pwdAndUsernameEqual')"> password is equal to username! </mat-error>
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('pwdMustContainNbr')"> password must contains numbers! </mat-error>
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('pwdRegEx')"> Password must contain at least one letter, one number, ... </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" class="form-control" placeholder="password confirm" [formControl]="passwordConfirmCtl">
                            <mat-error class="text-danger" *ngIf="passwordConfirmCtl.hasError('pwdNotEqual')"> passwords are not equals </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <button class="btn btn-primary" type="submit" [disabled]="passwordForm.invalid"> save </button>
    </form>
    </div>
    </div>