<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src={{title}}/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--pour les éléments à voir si on est pas authentifiés  (*ngIf check auth)-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="btn-group">
          <a class="btn btn-success nav-link" routerLink="products">Produits</a>     
          <a class="btn btn-default nav-link" routerLink="users" *ngIf="checkAuth()">users</a>
          <a class="btn btn-dark" (click)="profile()" *ngIf="checkAuth()">Profile</a> 

          <a class="btn btn-primary nav-link" routerLink="create-user" *ngIf="!checkAuth()">Create account</a>
          <a class="btn btn-success nav-link" routerLink="auth" *ngIf="!checkAuth()">Login</a>
          <a class="btn btn-danger" (click)="logout()" *ngIf="checkAuth()">Logout</a>  
               
          <a class="btn btn-outline-danger nav-link justify-content-end" routerLink="basket">Basket</a>    
        </div> 
      </ul> 
    </div>
  </div>
</nav>




<div class='container-fluid center_div'>
  <ul class="list-group">
    <router-outlet>
        
    </router-outlet>
  </ul>
</div> 