<button form="actorForm" class="btn btn-primary mr-2"
        (click)="editProfile()">edit profile</button>
<button form="actorForm" class="btn btn-primary mr-2"
    (click)="changePassword()">change password</button>
    <div>
        <b>firstname :</b> {{user.firstname}} <br/>
        <b>lastname :</b> {{user.lastname}} <br />
        <b>email :</b> {{user.email}} <br/>
        <b>birth date :</b> {{user.birth_date}} <br/>
        <b>gender </b>: {{user.gender}} <br/>
        <b>phone number :</b> {{user.phone_number}} <br/>
        <b>street : </b>{{user.street}} <br/>
        <b>number street :</b> {{user.number_street}} <br/>
        <b>zipcode :</b> {{user.zipcode}} <br/>
        <b>city :</b> {{user.city} <br/>
        <b>country :</b> {{user.country}} <br/>
        <b>extra info :</b> {{user.extra_info}} 

    </div>
  
