<div class="row">
    <div class="col-sm-12">
        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" 
                matSortDisableClear width="100%">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                    <td mat-cell *matCellDef="let row"> {{ row.id }}</td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
                    <td mat-cell *matCellDef="let row"> {{ row.username }}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                    <td mat-cell *matCellDef="let row"> {{ row.email }}</td>
                </ng-container>
                <ng-container matColumnDef="admin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> admin </th>
                    <td mat-cell *matCellDef="let row"> {{ row.admin ? 'admin' : 'user' }}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="btn-group">
                            <button class="btn btn-info">info</button>
                            <button class="btn btn-primary" (click)="edit(row)">edit</button>
                            <button class="btn btn-danger" (click)="delete(row)">delete</button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
            <button class="btn btn-primary" (click)="create()">Create user</button>
        </div>
    </div>
</div>

            